* {
  box-sizing: border-box;
}

header {
  display: flex;
  height: 10%;
  gap: 100px;
  padding: 3% 10%;
  align-items: center;
}

.myLogo {
  width: 100px;
  border-radius: 20px;
}

nav {
  display: flex;
  justify-content: flex-end;
  width: 80%;
  gap: 30px;
}

nav > a {
  text-decoration: none;
  color: black;
}

footer {
  border: 2px solid black;
  padding: 0 4%;
}